terraform.tfstate
terraform.tfstate.*

*.tfstate.backup
*.tfstate.backup.*

.terraform.lock.hcl

crash.log

.terraform/

*.tfvars
*.tfvars.json

*.log
*.plan

.env

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.dockerignore
.vagrant/

*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
